# Dependencies
/node_modules
/swiftel-request-handler-frontend/node_modules
/swiftel-request-handler-backend/node_modules

# Build files
/dist
/swiftel-request-handler-frontend/dist
/swiftel-request-handler-backend/dist
